@font-face {
	font-family: 'Ubuntu';
	font-style: normal;
	font-weight: 400;
	src: local('Ubuntu'), url(/static/GMuVYPs2qfSvo2zvGXIEVg.woff2) format('woff2'), url(/static/mZSs29ggGoaqrCNB3kDfZQ.woff) format('woff');
}
@font-face {
	font-family: 'Ubuntu';
	font-style: normal;
	font-weight: 700;
	src: local('Ubuntu Bold'), local('Ubuntu-Bold'), url(/static/1oQ0YSnzWBxeyxAWblfEqg.woff2) format('woff2'), url(/static/trnbTfqisuuhRVI3i45C5w.woff) format('woff');
}
@font-face {
	font-family: 'Ubuntu';
	font-style: italic;
	font-weight: 400;
	src: local('Ubuntu Italic'), local('Ubuntu-Italic'), url(/static/MeLqutxYVP-KOAmxPalVng.woff2) format('woff2'), url(/static/GZMdC02DTXXx8AdUvU2etw.woff) format('woff');
}
@font-face {
	font-family: 'Ubuntu';
	font-style: italic;
	font-weight: 700;
	src: local('Ubuntu Bold Italic'), local('Ubuntu-BoldItalic'), url(/static/pqisLQoeO9YTDCNnlQ9bf1tXRa8TVwTICgirnJhmVJw.woff2) format('woff2'), url(/static/pqisLQoeO9YTDCNnlQ9bfz8E0i7KZn-EPnyo3HZu7kw.woff) format('woff');
}

/* FIXME don´t forget to undo this hack as image rendering became supported */
img[src$=".gif"], img[src$=".png"] {
	image-rendering: -moz-crisp-edges;         /* Firefox */
	image-rendering:   -o-crisp-edges;         /* Opera */
	image-rendering: -webkit-optimize-contrast;/* Webkit (non-standard naming) */
	image-rendering: crisp-edges;
	}

html {overflow-y: scroll;}
body {background-color: #e7e9eb; font-family: 'Ubuntu', 'Arial', sans-serif; margin: 0 10px 0 10px; overflow-x:hidden;}
hr {clear: both; opacity: 0;}
a {text-decoration: none;}
a.button, input[type="submit"] {color: #000 !important; border-radius: 5px; border: 1px solid; padding: 5px; background: #e7e9eb;}
a.button:hover, input[type="submit"]:hover {color: #000 !important; border-radius: 5px; border: 1px solid; padding: 5px; background: #e7ffeb; text-decoration: none !important;}
input[disabled] {background: #87898b;}
input[disabled]:hover {background: #87898b; cursor: not-allowed;}
.smallform {border: 1px solid #bcd; border-radius: 5px; padding: 5px; width: 240px; margin: 5px; float: left; box-shadow: 0px 0px 3px 2px #cde}
.smallform input {margin: 5px 0 5px 0;}
.smallform .formlabel {width: 230px;}
.smallform .smallinput {width: 100px;}
.smallform .longinput {width: 230px;}
.smallform ul.radioset {padding: 10px;}
.smallform ul.radioset li {list-style-type: none; margin-bottom: 5px;}
.votebar {height: 20px; width: 100%; margin: -20px 0 0 16px; opacity: 0.3;}
.votebar span {text-align: right; width: 210px; display: block;}

.mainmenu {color: #000;}
.mainmenu a:link {color: #000;}
.mainmenu a:visited {color: #000;}
.mainmenu a:hover {color: #000; text-decoration: none;}
.mainmenu a:active {color: #000;}

.mainmenu .menu_item {margin: 6px; display: inline; white-space: nowrap;}
.first_menu {padding: 0 0 10px 0; margin: 0 10px 0 10px;display: inline;}
.first_menu .menu_item {
	font-weight: 700;
	font-size: 18px;
	margin: 0 1px 10px 1px;
	padding: 6px;
	background: #e7e9eb;
	transition: 0.15s;}
.first_menu .menu_item:hover {
	border-radius: 0 0 10px 10px;
	padding-bottom: 16px;
	background: linear-gradient(to top, #8090a0, #abc);}
.first_menu .active {
	border: 1px solid #90a0b0;
	border-bottom: none;
	border-radius: 0 0 10px 10px;
	background: #a0b0c0;
	background: linear-gradient(to top, #a0b0c0, #e0f0ff);
	transition: 0.15s;}
.first_menu .active:hover {
	background: linear-gradient(to top, #abc, #eff);}

.languageselector {float: right; margin: -10px 10px 0 0}
.languageselector {display: none;} /* TODO prepare site for true multilang */
.languageselector form {float: left; margin: 5px; opacity: 0.2;}
.languageselector form input[type="submit"] {border: none; font-size:0; height: 32px; border-radius: 5px; box-shadow: 0px 0px 3px 2px rgba(0,0,0,0.67);}
.languageselector .ru input[type="submit"] {background-image: url('/static/img/lang_ru.png'); width: 48px;}
.languageselector .en input[type="submit"] {background-image: url('/static/img/lang_en.png'); width: 60px;}
.languageselector form.active {opacity: 0.8;}
.languageselector form.active input[type="submit"] {box-shadow: 0px 0px 3px 2px #67a; cursor: initial;}

.content {border: 1px solid #AAA; background: #fff; border-radius: 10px; padding: 10px; margin: 10px 10px 10px 10px;}
/*.content_block {border: 1px solid #AAA; background: #EEE; border-radius: 5px; padding: 10px; color: #000; box-shadow: 0px 0px 5px 1px #000;}*/
.content_block a:link {color: #D05E0B;}
.content_block a:visited {color: #BA6121;}
.content_block a:hover {color: #D05E0B; text-decoration: underline;}
.content_block a:active {color: #E04E00;}
.content span.green {color: green}
.content span.red {color: red}

.topsecret {position: absolute; z-index: -100; top: 0; left: 0; width: 100%; text-align: center; font-weight: 700; animation: rainbow 1s linear 0s infinite;}
.token_list {display: none; position: absolute; top: 10px; left: calc(50% - width); font-size: 50%;}
.tokens:hover {cursor: pointer;}
.tokens:hover .token_list {display: inline}
@keyframes rainbow {
	from {color: rgb(255, 0, 0);}
	16.6% {color: rgb(255, 0, 255);}
	33.3% {color: rgb(0, 0, 255);}
	50% {color: rgb(0, 255, 255);}
	66.6% {color: rgb(0, 255, 0);}
	83.3% {color: rgb(255, 255, 0);}
	to {color: rgb(255, 0, 0);}
}

@media screen and (max-width: 768px){
	body {font-size: 150%; background-color: #fff;}
	input[type="checkbox"], input[type="radio"] {transform: scale(2); margin: 20px;}
	.languageselector {position: absolute; right: 0; top: 0; float: right; margin: -10px -20px 0 0}
	.languageselector form {float: none; margin: 5px; opacity: 0.2;}
	.first_menu {display: block; float: none; margin: 0; padding: 0; }
	.first_menu .menu_item {width: 80%; text-align: center; border-radius: 0; margin: 0; padding: 2px; display: block; font-size: 32px;}
	.first_menu .menu_item:hover {border-radius: 0; padding: 2px;}
	.first_menu .active {padding: 1px;}
	.content {border: none; padding: 0; margin: 0; background: none;}
	.content_block {margin: -8px;}
	.smallform {border: 1px solid green; border-radius: 5px; padding: 5px 15px 5px 5px; margin:0 0 5px 0; width: 95%;}
	.smallform .formlabel {width: 99%;}
	.smallform .smallinput {width: 110px;}
	.smallform .longinput {width: 99%;}
	.votebar {height: 10px; margin: 0 0 10px 15px;}
	.votebar span {margin-top: -20px; position: absolute;}
	.topsecret {position: relative;}
}
