{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}
<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="shortcut icon" type="image/png" href="/static/img/icon.png" />
		<title>{% block title %}{% endblock %}Moscow GNU/Linux User Group</title>
		<style>
{% include "css/normalize.css" %}
{% include "css/style.css" %}
{% block extrastyle %}{% endblock %}
		</style>
{% block extrahead %}{% endblock %}
	<script>
{% include "js/functions.js" %}
{% block scripts %}{% endblock %}
	</script>
	</head>
	<body>
{% block mainmenu %}{% include "mainmenu.html" %}{% endblock %}
		<div class="breadcrumbs">
			<ul>
{% block breadcrumbs %}{% endblock %}
			</ul>
		</div>
		{% if cow_powers > 0 %}
		<span class="topsecret">
			{% if cow_powers > 1 %}
			<span class="tokens">( {{ cow_powers }}
					<span class="token_list">
						{% for token in cow_powers_tokens %}
							<br />{{ token }}
						{% endfor %}
					</span>
			 )</span>
			{% endif %}
		{% trans 'Secret cow powers activated!' %}
		</span>
		{% endif %}
{% block body %}{% endblock %}
		<div class="content">
{% block content %}{% endblock %}
		</div>
{% block afterbody %}{% endblock %}
	<script>
{% include "js/pasre.js" %}
	</script>
	</body>
</html>
