{% extends "base.html" %}
{% load i18n %}
{% block title %}
	{% trans app_name %}
	{% trans 'management page' %}
	|
{% endblock %}
{% block mainmenu %}
	{% include "mainmenu.html" with current_item='mailer' %}
{% endblock %}
{% block breadcrumbs %}

{% endblock %}
{% block content %}
	<div class="content_block">
		<h1>{% trans 'Mailing lists control' %}</h1>
		<p>
			{% trans 'Your email:' %} <span class="email">{{ email }}</span><br />
			{% if date_confirmed %}
				{% trans 'You have <span class="green">confirmed</span> your will to receive emails' %}
			{% else %}
				{% trans 'You have <span class="red">not yet confirmed</span> your will to receive emails' %}
			{% endif %}
			{% if not date_confirmed %}
				<br /><a href="/{{ app_url }}/confirm?token={{ token }}">{% trans 'Confirm your will now!' %}</a>
			{% endif %}
			{% if not date_unsubscribed %}
				<br /><small>
{% blocktrans %}Sure you can <a href="/{{ app_url }}/unsubscribe?token={{ token }}">unsubscribe</a>,<br />
but if you do — you will never be able to resubscribe this email by yourself{% endblocktrans %}
				</small>
			{% else %}
				<br /><span class="red">{% trans 'This email is unsubscribed' %}</span><br />
				{% trans 'You can not resubscribe it by yourself, ask administration if you need to resubscribe' %}
			{% endif %}
		</p>
		<form action="/{{ app_url }}/manage?token={{ token }}" method="POST">
			<input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
			<input type="hidden" name="token" value="{{ token }}">
				{% for name, id, active in lists %}
				<input type="checkbox" name="list_{{ id }}"{% if active %} checked="on"{% endif %}/> {{ name }}<br />
				{% endfor %}
			<input type="text" name="name" value="{{ name }}" placeholder="{% trans 'Name' %}"> {% trans 'Name' %}<br />
			<p>{% trans 'Gender' %}<br />
				<input type="radio" name="gender" value="M"{% if gender == "M" %} checked{% endif %}> {% trans 'Male' %}</br />
				<input type="radio" name="gender" value="F"{% if gender == "F" %} checked{% endif %}> {% trans 'Female' %}</br />
				<input type="radio" name="gender" value="X"{% if gender == "X" %} checked{% endif %}> {% trans 'Undefined' %}</br />
			</p>
			<p>{% trans 'Language' %}<br />
				<input type="radio" name="config_language" value="ru"{% if config_language == "ru" %} checked{% endif %}> {% trans 'Ru' %}</br />
				<input type="radio" name="config_language" value="en"{% if config_language == "en" %} checked{% endif %}> {% trans 'En' %}</br />
			</p>
			<input type="text" name="config_mail_delay_interval" value="{{ config_mail_delay_interval }}"> {% trans 'Days of delay' %} (0—30)<br />
			<input type="checkbox" name="config_send_html"{% if config_send_html %} checked{% endif %}> HTML<br />
			<input type="submit" value="{% trans 'Apply' %}">
		</form>
		{% if updated %}
			<div id="success">{% trans 'Updated successfully' %}</div>
			<script>
				setTimeout('document.getElementById("success").remove()', 2000);
			</script>
		{% endif %}
		{% if message %}<p>{{ message }}</p>{% endif %}
	</div>
{% endblock %}
